<li style="max-width: 300px;">
  <div>
    <span style="margin-right: 16px;">{{appNotification.message}}</span>
    <Button (click)="onDelete()" ><i style="color: black;" class="material-icons">close</i></Button>
  </div>
  <br/>
  <div align="left">
    <Button *ngIf="appNotification.isStarted()" (click)="onStop()" ><i style="color: #ff3300;" class="material-icons">stop</i></Button>
    <Button *ngIf="!appNotification.isStarted()" (click)="onStart()"><i style="color: #00ff00;" class="material-icons">play_circle_outline</i></Button>
  </div>
</li>
