<div class="light-primary-color" style="padding: 16px;">
    <md-card style="margin: 0 auto; padding: 16px; max-width: 480px;"
             class="default-font card-background primary-text-color">
        <md-card-content>
            <form #f="ngForm" style="margin: 0 auto;"
                  (ngSubmit)="onSubmit(f.value)"
                  id="reminderForm">

                <table style="width: 100%">
                    <tr>
                        <td>
                            <md-input
                                    #text
                                    align="start"
                                    id="notificationText"
                                    placeholder="Remind me to..."
                                    name="notificationText" ngModel></md-input>
                        </td>

                        <td>
                            <md-input
                                    #number
                                    placeholder="every ... minutes"
                                    type="text"
                                    align="start"
                                    id="notificationPeriod"
                                    name="notificationPeriod" ngModel></md-input>
                        </td>
                    </tr>
                </table>

            </form>
            <span *ngIf="formErrorMessage.length > 0" style="color: red;">{{formErrorMessage}}</span>
        </md-card-content>
        <md-card-actions align="end" style="padding-right: 16px; padding-bottom: 16px;">
            <button form="reminderForm" md-raised-button color="primary" type="submit">Create Reminder</button>
        </md-card-actions>
    </md-card>

    <div style="padding: 16px; height: 100%">
        <notification-item *ngFor="let notification of notificationRepository.notifications"
                           (deleteEvent)="onDeleteEvent($event)"
                           [appNotification]="notification"></notification-item>
    </div>
</div>





